@charset "UTF-8";
/************************************************
*   Personalización modales bootstrap
*************************************************/
.modal-backdrop {
  z-index: 99999; }

.modal {
  cursor: pointer;
  padding-right: 0 !important;
  padding-left: 0 !important;
  z-index: 999999;
  padding: 0;
  overflow: auto; }
.modal form {
  width: 100%; }
.modal .modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
  margin: 0 auto;
  padding: 15px; }
@media (min-width: 576px) {
  .modal .modal-dialog-centered {
    max-width: 500px; } }
.modal .modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  cursor: default;
  width: 100%; }
.modal .modal-content select.form-control {
  height: 48px;
  background-image: url("/views/shop/device/images/icons/arrow.png");
  background-position: 95% 50%;
  background-position: calc(100% - 20px) 50%;
  background-size: 8px 6px;
  background-repeat: no-repeat; }
.modal .modal-content select.form-control.error {
  border-bottom: 1px solid #e06666; }
.modal .modal-content select.form-control.error ~ .invalid-feedback {
  display: block; }
.modal .modal-content input[type="checkbox"].error {
  border-bottom: 1px solid #e06666; }
.modal .modal-content input[type="checkbox"].error ~ .invalid-feedback {
  display: block; }
.modal .modal-content textarea.form-control {
  max-width: 100%;
  min-width: 100%;
  max-height: 500px;
  height: 100px;
  min-height: 100px; }
.modal .modal-content input.form-control {
  height: 48px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5; }
@media (max-width: 575px) {
  .modal .modal-content input.form-control {
    padding: 10px; } }
.modal .modal-content input.form-control:-moz-read-only {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  pointer-events: none; }
.modal .modal-content input.form-control:-moz-read-only:focus, .modal .modal-content input.form-control:-moz-read-only:active {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7; }
.modal .modal-content input.form-control:read-only {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  pointer-events: none; }
.modal .modal-content input.form-control:read-only:focus, .modal .modal-content input.form-control:read-only:active {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7; }
.modal .modal-content input.form-control:focus {
  background-color: #ececec;
  border: 1px solid #ececec; }
.modal .modal-content input.form-control.error {
  border-bottom: 1px solid #e06666;
  color: #e06666; }
.modal .modal-content input.form-control.error ~ .invalid-feedback {
  display: block; }
.modal .modal-content .validate-switch.error {
  color: #e06666; }
.modal .modal-content .validate-switch.error ~ .invalid-feedback {
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 5px 0 10px 0; }
.modal .modal-content .invalid-feedback {
  display: none;
  font-size: 14px;
  color: #e06666;
  font-weight: 400; }
.modal .modal-content .modal-header {
  min-height: 65px;
  border-bottom: 0;
  padding: 0; }
@media (max-width: 575px) {
  .modal .modal-content .modal-header {
    padding: 15px 70px 15px 20px; } }
.modal .modal-content .modal-header h5 {
  padding: 35px 80px 15px 30px;
  line-height: 35px;
  font-size: 24px;
  letter-spacing: 0.5px;
  margin: 0;
  font-weight: 400;
  position: relative;
  text-transform: uppercase; }
@media (max-width: 575px) {
  .modal .modal-content .modal-header h5 {
    padding: 15px 0px 0px 0px;
    font-size: 21px;
    line-height: 30px; } }
.modal .modal-content .modal-header h6 {
  padding: 0px 30px 30px 30px;
  line-height: 16px;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0;
  font-weight: 400;
  position: relative;
  max-width: 400px; }
@media (max-width: 575px) {
  .modal .modal-content .modal-header h6 {
    padding: 15px 0px 0px 0px;
    font-size: 21px;
    line-height: 30px; } }
.modal .modal-content .modal-header > .close {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 65px;
  width: 65px;
  opacity: 1;
  z-index: 9999; }
.modal .modal-content .modal-header > .close:hover {
  opacity: 0.85; }
.modal .modal-content .modal-header > .close:after, .modal .modal-content .modal-header > .close:before {
  content: '';
  height: 1px;
  background-color: #000;
  position: absolute;
  width: 30px;
  left: 0;
  right: 5px;
  top: 35px;
  bottom: 0;
  margin: 0 auto;
  display: block; }
.modal .modal-content .modal-header > .close::after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }
.modal .modal-content .modal-header > .close::before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }
.modal .modal-content .modal-body {
  padding: 0px 30px 0px 30px; }
@media (max-width: 575px) {
  .modal .modal-content .modal-body {
    padding: 15px 20px 5px 20px; } }
.modal .modal-content .modal-body .text-info {
  color: initial;
  font-size: 16px;
  font-weight: 500; }
.modal .modal-content .modal-body .form-group {
  margin-bottom: 10px; }
.modal .modal-content .modal-body .form-group .help-text {
  color: #7d7d7d;
  font-style: italic;
  font-size: 13.5px;
  margin-bottom: -5px;
  letter-spacing: 0.5px;
  padding-left: 5px;
  padding-bottom: 4px;
  margin-top: -5px; }
.modal .modal-content .modal-body .form-group.send-invitation-email {
  margin-top: -15px;
  display: none; }
.modal .modal-content .modal-body .form-group.send-invitation-email label {
  padding: 3px 3px 0 3px; }
.modal .modal-content .modal-body .form-group:last-of-type {
  margin-bottom: 10px; }
.modal .modal-content .modal-body .form-group.password-toggle {
  position: relative; }
.modal .modal-content .modal-body .form-group.password-toggle > i {
  display: none;
  position: absolute;
  right: 0px;
  top: 40px;
  padding: 15px 20px 15px 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
@media (max-width: 575px) {
  .modal .modal-content .modal-body .form-group.password-toggle > i {
    padding: 17px 20px 17px 15px; } }
.modal .modal-content .modal-body .form-group.password-toggle > i:hover {
  opacity: 0.75; }
.modal .modal-content .modal-body .form-group label {
  color: #000;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 0.5px;
  font-size: 16px;
  padding: 3px 7px; }
.modal .modal-content .modal-body .form-group label.send-invitation {
  font-size: 14px;
  line-height: 18px; }
.modal .modal-content .modal-body .form-group input, .modal .modal-content .modal-body .form-group select, .modal .modal-content .modal-body .form-group textarea {
  margin-top: 6px; }
.modal .modal-content .modal-body.where-pick, .modal .modal-content .modal-body.have-user-account, .modal .modal-content .modal-body.appointment {
  text-align: center;
  font-weight: 500;
  font-size: 16px; }
.modal .modal-content .modal-body.error {
  text-align: center;
  font-weight: 500;
  max-width: 440px;
  margin: 0px auto; }
.modal .modal-content .modal-footer {
  padding: 15px 15px 35px 15px;
  border-top: 0;
  text-align: center; }
.modal .modal-content .modal-footer > .btn, .modal .modal-content .buttons > .btn {
  min-width: 75px;
  font-size: 13px;
  max-width: 100%;
  font-weight: 600;
  height: 45px;
  display: inline-block;
  padding: 5px 15px !important;
  margin: 2px; }
.modal .loader-container {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  position: absolute;
  width: 80%;
  z-index: 99999;
  display: none; }
.modal .loader-container > .content {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 80%; }
.modal .loader-container > .content > .text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center; }
.modal .loader-container > .content > .loader {
  margin: 0 auto;
  display: block;
  float: none;
  width: 60px;
  height: 66px; }
.modal .loader-container.active {
  display: block; }
.modal .loader-container.active ~ .needs-validation {
  -webkit-filter: blur(10px);
  filter: blur(10px); }
.modal .text-warning {
  font-size: 13px;
  line-height: normal;
  padding-top: 10px;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  color: #000; }
.modal .text-warning::before {
  content: "*";
  position: absolute;
  margin-left: -10px;
  font-size: 21px;
  margin-top: -5px; }

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static; }

/********************************************************
*   ANIMACIONES
********************************************************/
/*  Loader  ********************************************/
@-webkit-keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
    transform: translateX(50px) scale(0.5) rotate(-90deg); }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
    transform: translate(50px, 50px) rotate(-180deg); }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
    transform: translateY(50px) scale(0.5) rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
    transform: translateX(50px) scale(0.5) rotate(-90deg); }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
    transform: translate(50px, 50px) rotate(-180deg); }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
    transform: translateY(50px) scale(0.5) rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
.cube-transition {
  position: relative;
  -webkit-transform: translate(-25px, -50px/2);
  -ms-transform: translate(-25px, -50px/2);
  transform: translate(-25px, -50px/2); }
.cube-transition > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #eb4646;
  -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
  animation: cube-transition 1.6s 0s infinite ease-in-out; }
.cube-transition > div:last-child {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

/*# sourceMappingURL=modals.css.map */
